.board {
  display: flex;
  height: 80vh;
}

.grid {
  display: flex;
  flex-direction: column;
  height: 24vh;
  &-row {
    display: flex;
    &-box-row {
      display: flex;
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  &-row {
    display: flex;
  }
}

.box-row + .box-row {
  border-top: 1.4px solid #bbb;
}

.timer {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2vh;
  font-family: monospace;
  text-shadow: -1px 1px 2px #000,
      1px 1px 2px #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
  &-text {
    margin-right: .25vw;
  }
}