@mixin timer($color, $shadow-color) {
  display: flex;
    justify-content: center;
    color: $color;
    font-size: 2vh;
    font-family: monospace;
    text-shadow: -1px 1px 2px $shadow-color,
      1px 1px 2px $shadow-color,
      1px -1px 0 $shadow-color,
      -1px -1px 0 $shadow-color;
  
    &-text {
      margin-right: .25vw;
    }
}

@mixin box($color) {
  display: flex;
  flex-direction: column;
  border: 2px solid $color;
}

.board {
  display: flex;
  margin-left: 33vw;
  // height: 80vh;
  &-small {
    display: flex;
    margin-left: 36vw;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  // height: 24vh;
  &-row {
    display: flex;
    &-box-row {
      display: flex;
    }
  }
  &-small {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
  }
}

.box {
  @include box(black);
  &-dark {
    @include box(white);
  }
  &-row {
    display: flex;
    color: white;
    &-dark {
      display: flex;
      color: black;
    }
  }
}

.box-row + .box-row {
  border-top: 1.4px solid #bbb;
}

.box-row-dark + .box-row-dark {
  border-top: 1.4px solid rgb(252, 252, 252);
}

.timer {
  @include timer(white, black);
  &-dark {
    @include timer(black, white);
  }
}