.board {
  display: flex;
}

.grid {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  &-row {
    display: flex;
    &-box-row {
      display: flex;
      width: 75vw;
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  &-row {
    display: flex;
  }
}

.box-row + .box-row {
  border-top: 1px solid #bbb;
}