.entry {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  &-header{
    &-text {
      color: white;
      font-size: 8vh;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      margin: 4vh 0vw 8vh 0vw;
    }
  }
  &-form{
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
    &-input{
      height: 3vh;
      width: 4vw;
      font-size: 2vh;
    }
    &-submit{
      font-size: 2vh;
    }
  }
  &-prompt{
    color: white;
    font-size: 4vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 5vh;
  }
}