html,
body {
  height: 100%;
}

body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 80vw;
  height: 77vh;
  translate: -60vw;
  position: absolute;
  background: antiquewhite;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;

  &.red {
    background: black;
    color: red;
  }

  &-backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    translate: -70vw -15vh;
  }

  &.blue {
    background: blue;
    color: red;
  }

  &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
  }

  @supports (offset-rotate: 0deg) {
    // OLD
    // offset-rotation: 0deg;
    // NEW
    offset-rotate: 0deg;
    // offset-path: path("M 250,100 S -300,500 -700,-200");

    &.off {
      offset-distance: 100%;
    }
  }

  @media (prefers-reduced-motion) {
    offset-path: none;
  }

  h2 {
    color: #5d3e02;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
    font-size: 5vh;
    font-weight: 600;
  }

  .content {
    padding: 1rem;
  }

  .actions {
    border-top: 1px solid #ccc;
    background: antiquewhite;
    padding: 0.5rem 1rem;
    margin-top: 2.5vh;

    button {
      border: 0;
      background: #13be47;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      line-height: 1;
      font-family: monospace;
    }
  }
}

.modal-lotus {
  margin-top: 5vh;
  width: 30vw;
  height: 50vh;
  &-header{
    color: #5d3e02;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
    font-size: 5vh;
    font-weight: 600;
    font-family: 'Merienda', sans-serif;
  }
}

#centered-toggle-button {
  position: absolute;
}

.info {
  &-container {
    display: flex;
    margin-left: 20vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  &-header {
    font-family: monospace;
    color: #5d3e02;
    font-size: 4vh;
    font-weight: 600;
    font-family: 'Merienda', sans-serif;
  }

  &-image {
    height: 50vh;
    width: 10vw;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5vw;
    margin-top: 3vh;
  }

  &-line {
    display: flex;
    &-text {
      font-family: monospace;
      margin-top: 1.5vh;
      margin-left: 1vw;
      color: #5d3e02;
      font-size: 2vh;
    }
    &-text-bold{
      font-family: monospace;
      margin-top: 1.5vh;
      margin-left: 1vw;
      color: #5d3e02;
      font-size: 2vh;
      font-weight: 700;
    }
  }
}