@mixin number($border, $background) {
  height: 4.4vh;
  width: 2.31vw;
  margin: .5vh 0vw 2vh 5vw;
  border: 1px solid $border;
  border-radius: 5px;
  cursor: pointer;
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin number-text($color, $margin) {
  font-size: 3.8vh;
  font-family: monspace;
  color: $color;
  margin: $margin;
}

@mixin number-darkmode($border, $background) {
  height: 4vh;
  width: 2.1vw;
  // border: 1px solid $border;
  border-radius: 5px;
  cursor: pointer;
  background-color: $background;
  display: flex;
}

.numb-cont {
  height: 80vh;
  flex-direction: column;
  justify-content: space-between;
  width: 0vw;
}

.btn-cont {
  height: 80vh;
  margin-right: 3vw;
  flex-direction: column;
  justify-content: space-between;
  width: 0vw;
}

.number {
  @include number(black,white);
  &-dark {
    @include number(white, black);
  }
  &-text {
    @include number-text(black, 0px);
    &-dark {
      @include number-text(white, 0px);
    }
    &-check {
      @include number-text(black, .4vh 0vw 0vh .2vw);
      &-dark {
        @include number-text(white, .4vh 0vw 0vh .2vw);
      }
    }
  }
  &-background-on {
    @include number(black, #b130b1);
    &-dark {
      @include number(white, #b130b1);
    }
  }
  &-darkmode {
    @include number-darkmode(black, white);
    
    &-dark {
      @include number-darkmode(white, black);
    }
    // &-img{
    //   height: 3.8vh;
    //   margin-top: 0.7vh;
    // }
  }
}

.btn-check {
  @include number(black, $check-color);
  &-dark {
    @include number(white, $check-color);
  }
}

.background {
  &-selected{
    background-color: #e4c424f7;
  }
}

.btn-notes {
  @include number(black, #e4c424f7);
}

.selected {
  @include number(black, #e67039);
  &-dark {
    @include number(white, #e67039);
  }
}