$check-color: #e03d3d;

@mixin square($background) {
  height: 7.7vh;
  width: 4vw;
  background-color: $background;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin square-text($background, $color) {
  font-size: 4.7vh;
  font-family: monospace;
  height: 4vh;
  width: 2vw;
  color: $color;
  margin-bottom: 1vh;
  background-color: $background;
}

.square {
  @include square(white);
  &-dark {
    @include square(black);
  }
  &-revealed {
    @include square-text(white, black);
    &-dark {
      @include square-text(black, white);
    }
  }
  &-entered {
    @include square-text(white, purple);
    &-dark {
      @include square-text(black, #fa29dc);
    }
  }
  &-input {
    font-size: 2vh;
    font-family: monospace;
    height: 1.2vh;
    width: 3.1vw;
    margin-bottom: -1.1vh;
  }
}

.chk-square {
  @include square($check-color);
  &-dark {
    @include square($check-color);
  }
  &-entered {
    @include square-text($check-color, black);
    &-dark {
      @include square-text($check-color, white);
    }
  }
}

.square + .square {
  border-left: 1.4px solid #bbb;
}

.chk-square + .chk-square {
  border-left: 1.4px solid #bbb;
}

.square + .chk-square {
  border-left: 1.4px solid #bbb;
}

.chk-square + .square {
  border-left: 1.4px solid #bbb;
}

.square-dark + .square-dark {
  border-left: 1.4px solid rgb(255, 255, 255);
}

.chk-square-dark + .chk-square-dark {
  border-left: 1.4px solid rgb(255, 255, 255);
}

.square-dark + .chk-square-dark {
  border-left: 1.4px solid rgb(255, 255, 255);
}

.chk-square-dark + .square-dark {
  border-left: 1.4px solid rgb(255, 255, 255);
}