$check-color: #e03d3d;

$height-normal: 7.7vh;
$width-normal: 4vw;
$text-size-normal: 4.7vh;

$height-small: 6vh;
$width-small: 3.12vw;
$text-size-small: 3.66vh;

// $height-small: 5.159vh;
// $width-small: 2.68vw;
// $text-size-small: 3.149vh;

$height-x-small: 5.159vh;
$width-x-small: 2.68vw;
$text-size-x-small: 3.149vh;

@mixin square($background, $height, $width) {
  height: $height;
  width: $width;
  background-color: $background;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin square-text($background, $size, $color, $margin-bottom) {
  font-size: $size;
  font-family: monospace;
  height: 4vh;
  width: 2vw;
  color: $color;
  margin-bottom: $margin-bottom;
  background-color: $background;
}

@mixin input($font, $color, $height, $width, $margin, $background) {
  font-size: $font;
  font-family: monospace;
  color: $color;
  height: $height;
  width: $width;
  margin-bottom: $margin;
  background-color: $background;
  border-color: white;
}

.square {
  @include square(white, $height-normal, $width-normal);
  &-small {
    @include square(white, $height-small, $width-small);
  }
  &-dark {
    @include square(black, $height-normal, $width-normal);
    &-small {
      @include square(black, $height-small, $width-small);
    }
  }
  &-revealed {
    @include square-text(white,  $text-size-normal, black, 1vh);
    &-small {
      @include square-text(white,  $text-size-small, black, 0vh);
    }
    &-dark {
      @include square-text(black, $text-size-normal, white, 1vh);
      &-small {
        @include square-text(black, $text-size-small, white, 0vh);
      }
    }
  }
  &-entered {
    @include square-text(white, $text-size-normal, purple, 1vh);
    &-small {
      @include square-text(white, $text-size-small, purple, 0vh);
    }
    &-dark {
      @include square-text(black, $text-size-normal, #fa29dc, 1vh);
      &-small {
        @include square-text(black, $text-size-small, #fa29dc, 0vh);
      }
    }
  }
  &-input {
    @include input(2vh, black, 1.2vh, 3.1vw, -1.1vh, white);
    &-small {
      @include input(1.66vh, black, 1.1vh, 2.3vw, -0.2vh, white);
    }
    &-dark {
      @include input(2vh, white, 1.2vh, 3.1vw, -1.1vh, black);
      &-small {
        @include input(1.66vh, white, 1.1vh, 2.3vw, -0.2vh, black);
      }
    }
  }
}

.chk-square {
  @include square($check-color, $height-normal, $width-normal);
  &-small {
    @include square($check-color, $height-small, $width-small);
  }
  &-dark {
    @include square($check-color, $height-normal, $width-normal);
    &-small {
      @include square($check-color, $height-small, $width-small);
    }
  }
  &-entered {
    @include square-text($check-color, $text-size-normal, black, 1vh);
    &-small {
      @include square-text($check-color, $text-size-small, black, 0vh);
    }
    &-dark {
      @include square-text($check-color, $text-size-normal, white, 1vh);
      &-small {
        @include square-text($check-color, $text-size-small, white, 0vh);
      }
    }
  }
}

.square + .square {
  border-left: 1.4px solid #bbb;
}

.chk-square + .chk-square {
  border-left: 1.4px solid #bbb;
}

.square + .chk-square {
  border-left: 1.4px solid #bbb;
}

.chk-square + .square {
  border-left: 1.4px solid #bbb;
}

.square-dark + .square-dark {
  border-left: 1.4px solid rgb(255, 255, 255);
}

.chk-square-dark + .chk-square-dark {
  border-left: 1.4px solid rgb(255, 255, 255);
}

.square-dark + .chk-square-dark {
  border-left: 1.4px solid rgb(255, 255, 255);
}

.chk-square-dark + .square-dark {
  border-left: 1.4px solid rgb(255, 255, 255);
}

.square-small + .square-small {
  border-left: 1.4px solid #bbb;
}

.chk-square-small + .chk-square-small {
  border-left: 1.4px solid #bbb;
}

.square-small + .chk-square-small {
  border-left: 1.4px solid #bbb;
}

.chk-square-small + .square-small {
  border-left: 1.4px solid #bbb;
}

.square-dark-small + .square-dark-small {
  border-left: 1.4px solid rgb(255, 255, 255);
}

.chk-square-dark-small + .chk-square-dark-small {
  border-left: 1.4px solid rgb(255, 255, 255);
}

.square-dark-small + .chk-square-dark-small {
  border-left: 1.4px solid rgb(255, 255, 255);
}

.chk-square-dark-small + .square-dark-small {
  border-left: 1.4px solid rgb(255, 255, 255);
}